<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome Home!!!</a>
    <form action="/logout" class="d-flex">

      <button class="btn btn-outline-success bg-danger" type="submit">Logout</button>
    </form>
  </div>
</nav>